doctype html
html(lang='en-US')
    head
        meta(charset='utf-8')
        link(href='css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
        title A simple test webbpage
    body
        .section
            .row.center
                h1.header.col.s12 My Simple Webpage
            .row.center
                .col.s12.m6
                    h4.center This webpage consists of
                    ol.collection
                        li.collection-item a base page (simple.html)
                        li.collection-item a JavaScript file (js/simpleInit.js)
                        li.collection-item a CSS file, loads fonts (css/materialize.css)
                        li.collection-item a local embedded image (images/whale_256.png)
                        li.collection-item a remote image (#{rim})
                .col.s12.m6
                    h4.center The webpage also contains
                    .row.center
                        .col.s12.m6
                            h5.center three same domain links
                            ol.collection
                                li.collection-item #[a(href=sdl1) #{sdl1}]
                                li.collection-item #[a(href=sdl2) #{sdl2}]
                                li.collection-item #[a(href=sdl3) #{sdl3}]
                        .col.s12.m6
                            h5.center three external domain links
                            ol.collection
                                li.collection-item #[a(href=edl1) #{edl1}]
                                li.collection-item #[a(href=edl2) #{edl2}]
                                li.collection-item #[a(href=edl3) #{edl3}]
            .row.center
                .col.s12.m6
                    h5 The local image
                    img.responsive-img(src='images/whale_256.png')
                .col.s12.m6
                    h5 The remote image
                    img.responsive-img(src=rim)
    script(type='text/javascript', src='js/simpleInit.js')